<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/SCSS/en-us/layout.css">
  <!-- <link rel="stylesheet" href="../assets/css/main.css"> -->
  <title>Document</title>
</head>

<body>
  <!-- <header>
    <div class="container">
      <div class="row">
        <div class="col-5">
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <button class="btn nav-link ">Products</button>
                    <ul class="menu">
                      <li>
                        <button class="btn nav-link ">sub Products</button>
                      </li>
                      <li>
                        <button class="btn nav-link ">sub Products ></button>
                        <ul class="menu sub-menu">
                          <li>test mustaf taha</li>
                        </ul>
                      </li>
                      <li>
                        <button class="btn nav-link ">sub Products</button>
                      </li>
                      <li>
                        <button class="btn nav-link ">sub Products</button>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <button class="btn nav-link ">Resources</button>
                    <ul class="menu">
                      <li>
                        <button class="btn nav-link ">sub resources</button>
                      </li>
                      <li>
                        <button class="btn nav-link ">sub resources ></button>
                        <ul class="menu sub-menu">
                          <li>test mustaf taha</li>
                        </ul>
                      </li>
                      <li>
                        <button class="btn nav-link ">sub resources</button>
                      </li>
                      <li>
                        <button class="btn nav-link ">sub resources</button>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <button class="btn nav-link ">Resources</button>
                  </li>

                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-3">LOGO</div>
        <div class="col-4">header right</div>
      </div>
    </div>
  </header> -->

  <section class="accordiondSection">
    <div class="container">
      <div>
        <ul class="list-unstyled d-flex mb-5">
          <li class="mx-2"> <button class="primaryBtn-1 mediumBtn btn">Start now</button> </li>
          <li>
            <button class="primaryBtn-1 mediumBtn  icon-r btn">
              Start now
              <img src="../assets/images/icons/heart.svg" class="icon" alt="heart">
            </button>
          </li>
          <li class="mx-2">
            <button class="primaryBtn-1 mediumBtn active icon-l btn">
              <img src="../assets/images/icons/heart.svg" class="icon" alt="heart">
              Start now
            </button>
          </li>
          <li class="mx-2"> <button class="primaryBtn-1 mediumBtn disabled btn">Start now</button> </li>
          <li class="mx-2">
            <button class="primaryBtn-1 mediumBtn   btn">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          </li>
  
        </ul>
      </div>
      <div>
        <ul class="list-unstyled d-flex mb-5">
          <li class="mx-2"> <button class="primaryBtn-2 mediumBtn btn">Start now</button> </li>
          <li>
            <button class="primaryBtn-2 mediumBtn  icon-r btn">
              Start now
              <img src="../assets/images/icons/heart.svg" class="icon" alt="heart">
            </button>
          </li>
          <li class="mx-2">
            <button class="primaryBtn-2 mediumBtn active icon-l btn">
              <img src="../assets/images/icons/heart.svg" class="icon" alt="heart">
              Start now
            </button>
          </li>
          <li class="mx-2"> <button class="primaryBtn-2 mediumBtn disabled btn">Start now</button> </li>
          <li class="mx-2">
            <button class="primaryBtn-2 mediumBtn   btn">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          </li>
  
        </ul>
      </div>

    </div>
  </section>


  <script src="../assets/js/jquery-3.3.1.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/custom.js"></script> 
</body>

</html>