<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/SCSS/en-us/layout.css">
  <!-- <link rel="stylesheet" href="../assets/css/main.css"> -->
  <title>Document</title>
</head>

<body>
  <section class="accordiondSection"> 
    <div class="container">
      <div class="Typography">
        <h3 class="heading1">We ignite opportunity by setting the world in motion. <br /> 0123456789</h3>
        <h3 class="heading2">We ignite opportunity by setting the world in motion. <br /> 0123456789</h3>
        <h3 class="heading3">We ignite opportunity by setting the world in motion. <br /> 0123456789</h3>
        <h3 class="heading4">We ignite opportunity by setting the world in motion. <br /> 0123456789</h3>
        <h3 class="heading5">We ignite opportunity by setting the world in motion. <br /> 0123456789</h3>
        <h3 class="heading6">We ignite opportunity by setting the world in motion. <br /> 0123456789</h3>
        <h3 class="heading7">We ignite opportunity by setting the world in motion. <br /> 0123456789</h3>
        <h3 class="heading8">We ignite opportunity by setting the world in motion. <br /> 0123456789</h3>
        <h3 class="heading9">We ignite opportunity by setting the world in motion. <br /> 0123456789</h3>
        <h3 class="heading10">We ignite opportunity by setting the world in motion. <br /> 0123456789</h3>
        <h3 class="heading11">We ignite opportunity by setting the world in motion. <br /> 0123456789</h3>
        <h3 class="heading12">We ignite opportunity by setting the world in motion. <br /> 0123456789</h3> 
      </div>

    </div>
  </section>


  <script src="../assets/js/jquery-3.3.1.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/custom.js"></script> 
</body>

</html>